<h2>Import contacts</h2>

<%= simple_form_for([@hub, @group], :url => upload_hub_group_path(@hub, @group), :method => :post, :html => { :class => 'form-horizontal' }) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<div class="control-group">
			<label class="control-label" for="import">Copy and paste an Excel spread sheet <span class="label label-warning">Experimental</span></label>
			<div class="controls">
				<%= text_area_tag 'import', nil, :class => 'span9' %>
			</div>
			<div class="help-block offset2">
				<p class="muted"><span class="label label-info">Tips</span> 
					The first row must have headers with title specifying the name of the column. Current accepted headers are: <strong>name</strong> (also first/last), <strong>phone</strong> (or any variant: cell-phone, telephone, etc.) and <strong>e-mail</strong> (or any variant: email, e-mail address, etc.).
				</p>
				<div class="accordion" id="help-accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#help-accordion" href="#help-accordion-table">
								Example data
							</a>
						</div>
						<div id="help-accordion-table" class="accordion-body collapse">
							<div class="accordion-inner">
								<%= text_area_tag 'help-accordion-example', @example_data, :class => 'span9' %>
								<p>You can copy &amp; paste this example data into the form above to create these contacts.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>

	
	<div class="form-actions">
		<%= f.button :submit, 'Upload new contacts', :class => 'btn btn-primary' %>
		<%= link_to 'Cancel', hub_groups_path(@hub), :class => 'btn' %>
		
	</div>
<% end %>
