<%= simple_form_for([@hub, @group], :url => upload_hub_group_path(@hub, @group), :html => { :class => 'form-horizontal' }) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<div class="control-group">
			<label class="control-label" for="import">Paste a copied Excel spread sheet here</label>
			<div class="controls">
				<%= text_area_tag 'import', nil, :class => 'span9' %>
			</div>
		</div>
  </div>

	
	<div class="form-actions">
		<%= f.button :submit, 'Upload new contacts', :class => 'btn btn-primary' %>
		<%= link_to 'Cancel', hub_groups_path(@hub), :class => 'btn' %>
		
	</div>
<% end %>
