<div class="toolbar clearfix">
	<h2 class="pull-left"><%= @group.name %></h2>
	<div class="toolbar-buttons-title pull-left">
		<%= link_to 'Edit', edit_hub_group_path(@hub, @group), :class => 'btn pull-left' %>
	</div>
	<div class="toolbar-buttons-other pull-right">
		<%= link_to 'Import contacts', import_hub_group_path(@hub, @group), :class => 'btn pull-right' %>
	</div>
</div>


<%# The table is 1 column of name, 1 column of detail preview. This is not just contacts/listing because of the subgroups. %>
<table class="table table-striped">
	<thead>
	  <tr>
			<th class="name">Name</th>
			<th class="details">Details</th>
	    <th class="controls" colspan="2">
				<div class="btn-group pull-right">
					<%= link_to 'New Subgroup', hub_group_subgroup_path(@hub, @group), :class => 'btn' %>
					<%= link_to 'New Contact', new_hub_group_contact_path(@hub, @group), :class => 'btn' %>
					<%= link_to 'New File', new_hub_group_file_upload_path(@hub, @group), :class => 'btn' %>
				</div>
			</th>
	  </tr>
	</thead>
	<% @group.children.each do |group| %>
		<%# use info background color to distinguish sub groups? class="info" %>
	  <tr>
			<td><%= link_to group.name, [group.hub, group] %><span class="icon-folder-close pull-right"></span></td>
	    <td></td>
	    <td><%= link_to 'Edit', edit_hub_group_path(group.hub, group), :class => 'btn' %></td>
	    <td><%= link_to 'Destroy!', [group.hub, group], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' %></td>
	  </tr>
	<% end %>
	<%#TODO need some way to blend these together? (ie sort all of them by name); okay for now as we'll have separate groups for each %>
	<%= render 'contacts/contacts' %>
	<%= render 'file_uploads/file_uploads' %>
	<% if @group.items.empty? %>
		<tr>
			<td colspan="4">
				There's nothing here yet! :[.
				<div class="arrow-box pull-right">
					Make an item!
				</div>
			</td>
		</tr>
		<%# add in another row to get the offsetting zebra stripe, make it look balanced %>
		<tr>
			<td colspan="4"></td>
		</tr>
	<% end %>
</table>
