<% if current_user %>
	<%# TODO: if we've just registered, don't make this 'hello again', but 'hello there', add some introductory stuff %>
	<h2>Hello again!</h2>
	<% if @hubs %>
		<h3>Your hubs</h3>
		<%= render 'hubs/listing' %>
	<% else %>
		<%# TODO: move this to the hubs listing  %>
		You don't have any hubs, why don't you <a href="<%= new_hub_path %>">make some hubs</a>!
	<% end %>
<% else %>
	<%# Do the non-logged in home page: e-mail form, sample, etc. %>
	<div class="hero-unit">
  	<h1>Heading</h1>
  	<p>Tagline</p>
  	<p>
  		<a class="btn btn-primary btn-large">
  			Learn more
  		</a>
  	</p>
  </div>
	<div class="row">
		<div class="span4">
			<h4>Some cool things about us</h3>
			<p>A screenshot of the editing interface?</p>
		</div>
		<div class="span4">
			<h4>Other cool things about me</h4>
			<p>A screenshot of the mobile interface?</p>
		</div>
		<div class="span4">
			<h4>More cool things about this</h4>
			<p>A diagram of something moving from laptop to mobile phone?</p>
		</div>
	</div>
	<div class="row well">
		<div class="span5">
			<p>We're super geeks, but we're not Superman. To make sure that everyone who's signing up for our site has a great experience off of the bat, we inviting people to join on a rolling basis as we have resources. If you give us your e-mail, we'll let you know when your slot is ready and give you first opportunity to claim that spot.</p>
		</div>
		<div class="span5 offset1">
			<%= simple_form_for(@user, :url => user_invite_path, :method => :post, :html => { :class => 'form-inline' }) do |f| %>
				<label style="display: <%= "#{@user.errors.any? ? 'none' : 'block'}" %>;">Launching soon.</label>

				<%- if @user.errors.any? -%>
					<div class="alert alert-error">Please enter a valid email</div>
				<%- end -%>

				<div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
				<%= f.text_field :email, :placeholder => 'Your email address...' %>
				</div>
				<%= f.submit "Notify Me", :class => "btn btn-primary", :id => 'invitation_button' %>
				<p class="help-block">Absolutely no spam. Promise.</p>
				
			<% end %>
		</div>
  </div>
<% end %>
