<%= simple_form_for([@hub], :html => { :class => 'form-horizontal' }) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :name %>
		<%# Show private link if we've already been created #TODO have a separate button to reset this link %>
		<% if @hub.private_seed %>
			<%= f.input :private_link, :readonly => true %>
		<% end %>
	</div>
	
	<div class="form-actions">
		<%= f.button :submit, :class => 'btn-primary' %>
		<%= link_to 'Cancel', hubs_path, :class => 'btn' %>
	</div>
<% end %>
