<%= simple_form_for([@hub], :html => { :class => 'form-horizontal' }) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :name %>
		<%= f.input :mobile_footer, :hint => 'Customize your footer!' %>
		<%# Show private link if we've already been created, 
		  can't use the simple form helpers because we don't actually want to directly update the attribute 
		  #TODO clean up this messiness %>
		<%- if @hub.private_seed -%>
			<div class="control-group required">
		    <%= label_tag 'private_link', 'Private link', :class => 'required control-label' do %>
		      <abbr title="required">*</abbr>
		      Private link
		    <% end %>
		    <div class="controls">
		      <%= text_field_tag 'private_link', @hub.private_link, :readonly => true %>
		      <%#TODO make this button work! %>
		      <%= button_tag 'Reset the private link', :class => 'btn btn-danger' %>
		      <p class="help-block">This will permanently change the private link for everyone accessing this hub. Are you sure?</p>
		    </div>
			</div>
		<%- end -%>
	</div>
	
	<div class="form-actions">
		<%= f.button :submit, :class => 'btn-primary' %>
		<%= link_to 'Cancel', hubs_path, :class => 'btn' %>
	</div>
<% end %>
