<%- unless group.items.empty? -%>
	<ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Search people..." data-autodividers="true">
		<%- group.children.each do |child| -%>
			<li><a href="#group-<%= child.id %>"><%= child.name %></a></li>
		<%- end -%>
		<%- group.contacts.each do |contact| -%>
			<li data-icon="phone"><a href="tel:<%= contact.telephone %>">
				<h3><%= contact.name %></h3>
				<p><strong><%= contact.email %></strong></p>
			</a></li>
		<%- end -%>
		<%- group.file_uploads.each do |file_upload| -%>
			<li data-icon="file"><a href="<%= file_upload.upload.url %>" rel="external"><%= file_upload.name %></a></li>
		<%- end -%>
	</ul>
<%- else -%>
	Nothing to see here. Move along.
<%- end -%>