<div data-role="page" id="<%= type %>-<%= page.id %>">
	<div data-role="header">
		<h1><%= page.name %></h1>
		<%- if defined? back -%>
			<a href="#" data-icon="arrow-l" data-rel="back"><%= back %></a>
		<%- end -%>
	</div>
	
	<div data-role="content">
		<%# The page content. A <ul>.%>
		<%= yield %>
	</div>
	
	<div data-role="footer">
		<%= footer || "&nbsp;".html_safe %>
	</div>
</div>
