<div class="jqm-page" data-role="page" id="<%= type %>-<%= page.id %>">
	<div data-role="header" data-position="fixed">
		<h1><%= page.name %></h1>
		<%- if defined? back -%>
			<a href="#" data-icon="arrow-l" data-rel="back"><%= back %></a>
		<%- end -%>
	</div>
	
	<div data-role="content">
		<%# The page content. %>
		<%= yield %>
	</div>
	
	<div class="footer" data-role="footer">
		<small><%= footer || "&nbsp;".html_safe %></small>
	</div>
</div>
