<p>
  <b>Name:</b>
  <%= @hub.name %>
</p>

<%= render 'groups/listing' %>
<%= link_to 'New Group', new_hub_group_path(@hub) %>
<br />

<%= link_to 'Mobile version', mobile_hub_path(@hub) %> |
<%= link_to 'Edit', edit_hub_path(@hub) %> |
<%= link_to 'Back', hubs_path %>
