<div class="toolbar clearfix">
	<h2 class="pull-left"><%= @hub.name %></h2>
	<div class="toolbar-buttons-title pull-left">
		<%= link_to 'Edit', edit_hub_path(@hub), :class => 'btn pull-left' %>
	</div>
	<div class="toolbar-buttons-other pull-right">
	</div>
</div>
<div class="well row hud">
	<%= link_to 'Mobile preview', mobile_hub_path(@hub), :class => 'btn pull-right btn-primary' %>
	<div class="input-prepend">
		<span class="add-on">Secret link</span>
		<%# Don't actually make this disabled, that kills click events on the input element %>
		<%= text_field_tag :private_link, root_url + @hub.private_link, :readonly => :readonly, :class => 'span8 link-distribution' %>
	</div>
	<span class="help-block small">Copy this link and send it to anyone you'd like to use this hub.</span>

</div>
	
</div>
<%= render 'groups/listing' %>
