<p>
  <b>Name:</b>
  <%= @hub.name %>
</p>

<%= render 'contacts/listing' %>
<%= link_to 'New Contact', new_user_hub_contact_path(@user, @hub) %>
<br />

<%= link_to 'Edit', edit_user_hub_path(@user) %> |
<%= link_to 'Back', user_hubs_path %>
