<div class="toolbar clearfix">
	<h2 class="pull-left"><%= @hub.name %></h2>
	<div class="toolbar-buttons-title pull-left">
		<%= link_to 'Edit', edit_hub_path(@hub), :class => 'btn pull-left' %>
	</div>
	<div class="toolbar-buttons-other pull-right">
	</div>
</div>
<div class="row hud">
	<div class="well form-inline">
		<div class="control-group">
			<div class="controls">
				<div class="input-prepend input-append">
					<span class="add-on">Secret link</span>
					<%# Don't actually make this disabled, that kills click events on the input element %>
					<%= text_field_tag :private_link, @private_hub_link, :readonly => :readonly, :class => 'input-xxlarge link-distribution' %>
					<%= link_to 'E-mail', @mail_hub_link, :class => 'btn' %>
				</div>
				<%= link_to 'Mobile preview', mobile_hub_path(@hub), :class => 'btn btn-primary' %>
				<span class="help-block small">Copy this link and send it to anyone you'd like to use this hub.</span>
			</div>
		</div>
	</div>
	
	</div>
</div>
	
</div>
<%= render 'groups/listing' %>
