<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>
<p>
  <b>Telephone:</b>
  <%= @contact.telephone %>
</p>
<p>
  <b>E-mail:</b>
  <%= @contact.email %>
</p>

<%= link_to 'Edit', edit_hub_group_contact_path(@contact) %> |
<%= link_to 'Back', hub_group_contacts_path %>
