<%= spaceless do %>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><%= @title %></title>

		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta name="description" content=""><%#TODO %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<%#TODO <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
		%>

		<%#TODO <link rel="stylesheet" href="css/normalize.css">
		<script src="js/vendor/modernizr-2.6.2.min.js"></script>%>
	</head>
	<body class="container">
	  <!--[if lt IE 7]>
	      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
	  <![endif]-->
		<header>
			<div class="navbar">
		    <div class="navbar-inner">
			    <a class="brand" href="<%= root_url %>">iHub</a>
					<div class="label label-warning brand-decoration">alpha</div>
			    <ul class="nav">
				    <li class="divider-vertical"></li>
						<li class="<%= 'active' if @is_home %>"><a href="/">Home</a></li>
					</ul>
					<ul class="nav pull-right">
				    <%= render 'devise/registration_items' %>
						<%= render 'devise/login_items' %>
			    </ul>
		    </div>
	    </div>
			<% unless notice.blank? %><p class="notice alert-info"><%= notice %></p><% end %>
			<% unless alert.blank? %><p class="alert alert-error"><%= alert %></p><% end %>
			<%- unless @is_home %>
		  	<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => '&raquo;' %>
			<% end -%>
		</header>
		<div id="container">
	    <div id="main" role="main">
				<%= yield %>
	    </div>
	    <footer>
				<hr />
				<%# TODO...some cool stuff %>
				<p>Some sweeeeet footer text. Everything in the world © <%= Time.now.year %>, by me.
	    </footer>
	  </div>
	
		<%#TODO <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.1.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>%>
		
	</body>
</html>
<% end %>